# This rules file splits up projects into multiple GIT repositories.


#create repository net.twisterrob.cinema.git
# In separate net.twisterrob.cinema.rules, because of its complexity.
#end repository


#create repository net.twisterrob.inventory.git
# In separate monorepo-split-net.twisterrob.inventory.rules, because of twister-lib-android.
#end repository


#create repository net.twisterrob.travel.git
# In separate monorepo-split-net.twisterrob.travel.rules, because of twister-lib-android.
#end repository


#create repository net.twisterrob.android.git
#create repository net.twisterrob.java.git
# -> create repository net.twisterrob.libraries.git
# In separate monorepo-split-net.twisterrob.libraries.rules,
# because it's merging twister-lib-android and twister-lib-java.
#end repository


create repository net.twisterrob.sun.git
end repository

match /Projects/Sun/
	# r1105 is the initial import of the Sun app.
	# r1339 is the first public release on Google Play Store.
	min revision 1105
	repository net.twisterrob.sun.git
	# Moved to https://github.com/TWiStErRob/net.twisterrob.sun
	max revision 3302
	branch master
	prefix /
end match


create repository net.twisterrob.cashier.git
end repository

match /Projects/Cashier/
	# r2251 is the initial import of the Cashier app.
	# There were no public releases yet.
	min revision 2251
	repository net.twisterrob.cashier.git
	branch master
	prefix /
end match


include ignore.rules
