html, body {
	margin: 0;
	padding: 0;
}

#hierarchy-display {
	overflow: hidden;
	position: relative;
	/*transform: scale(.5,.5);*/
	width: 100%; /* needs to stay 100% otherwise the padding-bottom trick doesn't work */
	padding-bottom: 177.77%; /* set from JS, but default to portrait 9:16 */
}

#output-container {
	width: 40%;
	float: left;
	padding: 8px;
}

#hierarchy-tree {
	width: 20%;
	height: 100%;
	overflow: auto;
	float: left;
}

#selected {
	width: 35%;
	float: left;
	height: 100%;
	overflow-y: scroll;
}

dl#properties dt {
	float: left;
	clear: left;
	width: 150px;
	text-align: right;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

dl#properties dd {
	float: left;
	margin: 0 0 0 7px;
}

#hierarchy-display .view {
	position: absolute;
	background: rgba(0, 0, 0, 0.025);
}

#hierarchy-display .view.highlight,
#hierarchy-display .view:hover {
	outline: 2px solid yellow;
	z-index: 1;
}

#hierarchy-tree .view.MATCHES > .name {
	background-color: #EFC94C;
}

#hierarchy-tree .view.highlight > .name,
#hierarchy-tree .view:hover > .name {
	font-weight: bold;
}

#hierarchy-tree .view.highlight > .name {
	color: red;
}

#hierarchy-tree li.view ul {
	padding-left: 8px;
}

#hierarchy-display .view.MATCHES {
	background-color: #EFC94C;
}

#hierarchy-display .view.INVISIBLE,
#hierarchy-display .view.GONE {
	opacity: 0.3;
}

#hierarchy-display .view.GONE {
	outline: none;
}

#hierarchy-tree .view.INVISIBLE .name,
#hierarchy-tree .view.GONE .name {
	opacity: 0.5;
}

#hierarchy-tree .view.GONE > .name {
	opacity: 0.2;
}

.show-names .view::before {
	content: attr(data-type);
}

.show-borders .view::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	border-collapse: separate;
}

.show-borders .view.VISIBLE::after {
	border: 1px solid red;
}

/*noinspection CssOptimizeSimilarProperties*/
.show-borders.layout-borders .view.VISIBLE::after {
	/* removed < ? xml version="1.0" encoding="UTF-8"?> because 000webhost cannot handle < and ? one after the other */
	border-image: url('data:image/svg+xml;charset=utf8,\
		<svg width="50" height="50" viewBox="0,0 50 50" \
			xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">\
			<defs>\
				<g id="corner">\
					<line x1="0" y1="0" x2="10" y2="0" stroke-width="3" stroke="blue" />\
					<line x1="0" y1="0" x2="0" y2="10" stroke-width="3" stroke="blue" />\
				</g>\
			</defs>\
			<rect width="50" height="50" stroke-width="1" stroke="red" fill="none" />\
			<use transform="translate( 0, 0) rotate(0)" xlink:href="#corner" />\
			<use transform="translate(50, 0) rotate(90)" xlink:href="#corner" />\
			<use transform="translate( 0,50) rotate(-90)" xlink:href="#corner" />\
			<use transform="translate(50,50) rotate(180)" xlink:href="#corner" />\
		</svg>') 10 repeat;
	border-width: 10px;
	border-style: solid;
}

#hierarchy-display .ScrollView,
#hierarchy-display .ListView,
#hierarchy-display .RecyclerView {
	overflow: hidden;
}
